<h2>Menu</h2>
  <hr>
  <ul class="list-group">
    <li routerLink="list"
      routerLinkActive="active"
      [routerLinkActiveOptions]=" { exact : true } "
      class ="list-group-item">Todas las Compañias</li>
    <li routerLink="listById"
      routerLinkActive="active"
      class ="list-group-item">Compañia por Id</li>
    <li routerLink="create"
      routerLinkActive="active"
      class ="list-group-item">Crear Compañia</li>
    <li routerLink="update"
      routerLinkActive="active"
      class ="list-group-item">Actualizar Compañia</li>
  </ul>
